.img-mw-15{
    max-width: 15px;
}

.img-mw-40{
    max-width: 40px;   
}
.img-mw-400{
    max-width: 400px;  
}
.img-mw-120{
    max-width: 120px;   
}
.br-radius-30{
    border-radius: 30px;
}
.card-body a{
 font-size: 14px;
 line-height: 28px;
}
.fw-500{
    font-weight: 500 !important;
}
.page-item.active .page-link{
    background-color: #F6E0E0 !important;
    border-color: #F6E0E0 !important;
    color: #fb4343 !important;
}

.job-listing .form-check-input:checked{
    background-color: #fb4343 !important;
    border-color: #fb4343 !important;
}

.carousel-control-prev-icon{
    background-image: url(images/prev.png);
}

.carousel-control-next-icon{
    background-image: url(images/next.png);
}

.mobile-only{
    display: none;
}
.mobile-menu{
    display: none;
}

.bg_primary_light{
    background-color: #CAF1DE !important;
}
.bg-danger_light{
    background-color: #F27B6F !important;
}

.bg_dark_light{
    background-color: #F4F4F4 !important;
}

.paging_text_color{
    color: #6B6B6B;
}
.salary-divider{
    border: none !important;
    background-color: #fff0 !important;
}

@media only screen and (max-width: 767.98px) {
    .logo {
        max-width: 100px;
    }
    .job-list-div .card-body{
        padding: 1px;
    }
    .not-in-mobile{
        display: none;
    }
    .mobile-only{
        display: block;
    }
    .mobile-menu{
        display: block;
    }
    .p0m0{
        padding: 0px !important;
        margin: 0px !important;
    }
    .modal-dialog{
        max-width: 100% !important;
    }
    .modal-content{
        border-radius: 0px !important;
    }
}

