.br-radius-30{
    border-radius: 30px;
}
.img-mw-120{
    max-width: 120px;   
}
.carousel-control-prev-icon{
    background-image: url(prev.png);
}

.carousel-control-next-icon{
    background-image: url(next.png);
}
.icon{
    max-width: 15px;
}
.social-icon{
    max-width: 25px;
    border-radius: 50%;
}

.text-decoration{
    text-decoration: none;
}

.logo-image{
    max-width: 220px;
}

.slick-prev:before, .slick-next:before{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #0d6efd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mobile-ads-div{
    display: none;
}

.mobile-only{
    display: none;
}

.bg_primary_light{
    background-color: #CAF1DE !important;
}
.bg-danger_light{
    background-color: #F27B6F !important;
}

.bg-how-to-get-t{
    background-color: #6E7EE4 !important;
}

.btn-w-70{
    width: 70%;
}

@media only screen and (max-width: 767.98px) {
    .logo {
        max-width: 100px;
    }
    .job-list-div .card-body{
        padding: 1px;
    }
    .social-link-div{
        display: none;
    }
    .mobile-ads-div{
        display: block;
    }
    .mobile-only{
        display: block;
    }
    .not-in-mobile{
        display: none;
    }
    .slick-next{
        right: 0px;
    }
    .slick-prev{
        left: 0px;
    }
    .p0m0{
        padding: 0px !important;
        margin: 0px !important;
    }
    .direction_btn{
        position: absolute;
        top: 65px;
        z-index: 9999;
        left: 0px;
        right: 0px;        
        margin-left: auto;
        margin-right: auto;
    }
    .no-border-mobile{
        border: none !important;
    }
}